<mat-toolbar color="primary">
    <a href="https://github.com/bdmtnz" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/43625452?s=400&u=781e6b48ae45ace26f66eb22a9e4ccadc39420e1&v=4" alt="avatar">
    </a>
    <span>Brayan Martinez</span>
    <span class="example-spacer"></span>
    <a href="https://metnet.co" target="_blank">
        <img src="https://media-exp1.licdn.com/dms/image/C560BAQH4oxxluwa3-g/company-logo_200_200/0/1554888602041?e=2159024400&v=beta&t=iWaELlrpdVob3hgNJpAWJvmaQRKoL8k8BZRQglfPMxw" alt="avatar">
    </a>
</mat-toolbar>
